mixin footer()
  footer.main-footer 
    .container 
      .footer-brand Wikki
      .footer-bottom 
        .footer-logo 
          .footer-logo__brand 
            img(src="img/logo-dark.png", alt="")
          .footer-logo__text Современный интернет-магазин без привлечения разработчиков
        .footer-contacts 
          p ПН-ВС 08:00–20:00
          a.phone.footer-contacts__phone(href="tel:+74958451749") +7 495 845-17-49