mixin header()

  //--overlay
  //-.overlay(data-overlay)

  //--modal
  //- .modal(data-modal)  
  //-   .modal-close-overlay(data-modal-overlay)
  //-   .modal-content
  //-     button.modal-close-btn(data-modal-close)
  //-       ion-icon(name="close-outline")

  //-     .newsletter-img
  //-       img(src="img/newsletter.png", alt="" width="400" height="400")

  //-     .newsletter 
  //-       form(action="#")
  //-         .newsletter-header 
  //-           h3.newsletter-title Подпишитесь на обновления
  //-           .newsletter-desc <b>Евгений</b>, подписывайся на новые товары и скидки
  //-           input(type="email" name="email" class="email-field" placeholder="Email" required)
  //-           button(class="btn-newsletter" type="submit") Подписаться 
  //--HEADER
  header.header-main 
    .container 
      .header-top 
        .logo 
          .logo__img 
            picture 
              source(srcset="img/logo.png" media="(min-width: 576px)")
              img(src="img/logo-lg.png", alt="")
          p.logo__text Современный интернет-магазин без привлечения разработчиков
        .header-contacts 
          p.header-contacts__text Работаем с 9 до 22 без выходных
          a.phone.header-contacts__phone(href="tel:+7 495 845-17-49") +7 495 845-17-49
      nav.main-navigation 
        .container 
          .nav-top 
            ul 
              li 
                a(href="#") Главная
              li 
                a(href="#") Личный кабинет
              li 
                a(href="#") Интеграция с 1С
              li 
                a(href="#") Программа лояльности
              li 
                a(href="#") Маркетинг и SEO
              li 
                a(href="#") Админ панель
              li 
                a(href="#") Интеграции
      .header-hero 
        h1.header-hero__title <span>Wikki</span> - мобильное приложение + готовый интернет магазин за 10 дней
        p.header-hero__text С расширенным личным кабинетом и 2-ух сторонней интеграцией с 1С. Для рынка натяжных потолков
        .header-action 
          a.button.header-action__btn(href="#") Попробовать бесплатно
          a.circle-btn(href="#")
            img(src="img/circle-button.png", alt="" width="60" height="60") 
        .header-pic 
          img(src="img/apple-mac.png", alt="" width="330" height="300")