mixin main()
    block mainContent

  
    //- include slider
    //- +slider
    //- +slider
    //- include quiz
    //- +quiz
    //- include accordion 
    //- +accordion
    //- include map
    //- +map