// Тема по умолчанию
html,
body{
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $default-font;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background: #fff;
  color: #23262F;
}

.container {
  @include wrapper();
  max-width: 360px;
  @include sm-block {
    max-width: 1140px;
  }
}

/**
* Scroll bar style
**/
// body::-webkit-scrollbar { width: 15px; }
// body::-webkit-scrollbar-track { 
//   background: #fff; 
//   border-left: 1px solid hsl(0, 0%, 93%);
// }

// body::-webkit-scrollbar-thumb {
//   background: hsl(0, 0%, 80%);
//   border: 3px solid #fff;
//   border-radius: 10px;
// }
// body::-webkit-scrollbar-thumb:hover {
//   background: hsl(0, 0%, 70%);
// }



.title {
  font-family: $default-font;
  font-size: 28px;
  line-height: 140%;
}

.button {
  border-radius: 18px;
  background: hsla(43, 100%, 68%, 1);
  text-align: center;
  font-weight: 700;
  color: hsla(222, 15%, 16%, 1);
}